<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="button">
            <name>defaultButton</name>
            <label><![CDATA[<b>Allgemeine Einstellungen</b>]]></label>
        </element>

        <element type="boolean">
            <name>autoExportEnabled</name>
            <label>Export aktivieren</label>
            <description>Soll der automatische Export der Bestellungen aktiviert werden?</description>
        </element>

        <element type="select">
            <name>adapter</name>
            <label>Adapter</label>
            <value>CogitoSoapApi</value>
            <description>Wie sollen die Bestellungen exportiert werden?</description>
            <store>
                <option>
                    <value>CogitoSoapApi</value>
                    <label>via Cogito SOAP API</label>
                </option>
                <option>
                    <value>CsvWriter</value>
                    <label>via CSV Writer</label>
                </option>
            </store>
        </element>

    </elements>
</config>